.loginname{
    font-family: Roboto-medium !important;
    font-size: 13px !important;
    padding-top:1em !important;
    /*padding-right:1em !important;*/
    margin-bottom: 0px !important;
    font-weight: bold;
    color:#9da7be;
}
.popoover-arrrow{
    padding-top: 1em !important;
    padding-right: 1em !important;
}
 .app-popover {
       display: block;
    width: 200px !important;
    height: 70px;
    left: 1152.97px;
    top: 34px;
}